node_modules/
.next/
dist/
.env
.env.local
.DS_Store
.env*.local

# Flutter
apps/mobile/build/
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins*
apps/mobile/ios/Pods/
apps/mobile/ios/Flutter/ephemeral/
